.navbar {
    background-color: #b27c3e;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    z-index: 1001;
}

.navbar__logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

    /* Hamburguesa */
.navbar__toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

    /* Links */
.navbar__links {
    display: flex;
    list-style: none;
    gap: 150px;
    align-items: center;
}

.navbar__links li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
}

    .navbar__links li a:hover {
    color: #553c26;
    border-radius: 15px;
}

    /* Dropdown */
    .navbar__item--dropdown {
    position: relative;
}

    .navbar__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #b27c3e;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.navbar__submenu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.navbar__submenu li a:hover {
    background-color: #553c26;
    color: white;
    
}

/* Carrito */
    .carWidget {
    color: white;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}

.carWidget:hover {
    color: #553c26;
}

/* ✅ RESPONSIVE */
@media (max-width: 768px) {
    .navbar__toggle {
        display: block;
}

.navbar__links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left:0;
    
    width: 100%;
    background-color: #b27c3e;
    display: none;
    gap: 0 ;
    max-width: 40%;
    padding: 10px 0;
    padding-left: 25px;
}

.navbar__links.active {
    display: flex;
}

.carWidget {
    align-self: flex-end;
    margin-right: 20px;
}

}

